[submodule "system"]
	path = system
	url = http://github.com/kohanatest/core.git
[submodule "modules/codebench"]
	path = modules/codebench
	url = http://github.com/kohanatest/codebench.git
[submodule "modules/database"]
	path = modules/database
	url = http://github.com/kohanatest/database.git
[submodule "modules/image"]
	path = modules/image
	url = http://github.com/kohanatest/image.git
[submodule "modules/orm"]
	path = modules/orm
	url = http://github.com/kohanatest/orm.git
[submodule "modules/auth"]
	path = modules/auth
	url = http://github.com/kohanatest/auth.git
[submodule "modules/userguide"]
	path = modules/userguide
	url = http://github.com/kohanatest/userguide.git
[submodule "modules/cache"]
	path = modules/cache
	url = http://github.com/kohanatest/cache.git
[submodule "modules/unittest"]
	path = modules/unittest
	url = http://github.com/kohanatest/unittest.git
[submodule "modules/minion"]
	path = modules/minion
	url = http://github.com/kohanatest/minion.git
